{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{% block title %}templates/base.html{% endblock %}</title> 
{% block header %} {% endblock %}

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<!-- Add custom CSS here -->
<link rel="stylesheet" href="{% static 'css/sb-admin.css' %}" />
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
</head>


<body>

	<div id="wrapper">

		<!-- Sidebar -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<a class="navbar-brand" href="index.html">SB Admin</a>
		</nav>

		<div id="page-wrapper">
			<div class="row col-xs-4">
			<div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Sign in</h3>
            </div>
            <div class="panel-body">
            {% if form.errors %}
            <div class="alert alert-dismissable alert-danger">
              <button data-dismiss="alert" class="close" type="button">×</button>
              <strong>Oh snap!</strong> Your username and password didn't match. Please try again.
            </div>
			{% endif %}
			<form class="form-signin" role="form" method="post" action="{% url "django.contrib.auth.views.login" %}">
				<h2 class="form-signin-heading"></h2>
					{% csrf_token %}
					<table>
						<tr>
							<td>{{ form.username.label_tag }}</td>
							<td>{{ form.username }}</td>
						</tr>
						<tr>
							<td>{{ form.password.label_tag }}</td>
							<td>{{ form.password }}</td>
						</tr>
					</table>
					<label class="checkbox"> 
						<input type="checkbox" value="remember-me"> Keep me signed in</label>
					<button class="btn btn-primary" type="submit">Sign in</button>
					<input type="hidden" name="next" value="{{ next }}" />

				</form>
            </div>
          </div>
			</div>
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- JavaScript -->
	<link rel="stylesheet" href="{% static 'js/jquery-1.10.2.js' %}" />
	<link rel="stylesheet" href="{% static 'js/js/bootstrap.js' %}" />
</body>
</html>