{% extends "base.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
<li><a href="/menu"><i class="icon-dashboard"></i> Menu</a></li>
<li><a href="/menu"><i class="icon-dashboard"></i>Content Manager</a></li>
<li class="active"><i class="icon-file-alt"></i> Upload Content</li>
</ol>
{% endblock %}

{% block content %}
<div class="inner-container">
{% if message %}
	<div class="message" >{{message}}</div>
{% endif %}
	<form name="uplad_content" id="uplad_content" action="{% url "mypublisher.views.save_content" %}" 
	method="post" enctype="multipart/form-data">
	{% csrf_token %}
		<div class="upload-file-dialog">
			<span class="label">Browse and select files to upload</span> 
				<input type="file" size="40px" height="30px;" multiple="multiple" name="file_names"/>
		</div>
		<div class="drop-file-dialog">
			<span class="label"><h1>Drop Files Here</h1></span> 
		</div>
		<div class="drop-file-dialog">
			<span class="label">Description</span>
			<textarea rows="5" cols="50" name="description"></textarea> 
		</div>
		
		<button type="submit"> Upload Files</button>
	</form>
</div>
{% endblock %}
