{% extends "base.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/menu"><i class="icon-dashboard"></i>Menu</a></li>
	<li class="active"><i class="icon-file-alt"></i> Content Manager</li>
</ol>
{% endblock %}
{% block content %}

<div class="list-group"> 
  <a href="#" class="list-group-item">
  	<li href="#" class="button-css">
  		Image name
  	</li>
    	<div class="list-group-item-text block-cust">
			 <div class="btn-toolbar">
  				<ul class="btn-group">
    				<li class="libtn">Created Date:25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Modified Date: 25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Format:JPEG </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Size:2000Kb</li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">User name:Laxmikant </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Delete</li>
  				</ul>
  			</div>
	    </div>
  </a>
  <a href="#" class="list-group-item">
  	<li href="#" class="button-css">
  		Image name
  	</li>
    	<div class="list-group-item-text block-cust">
			 <div class="btn-toolbar">
  				<ul class="btn-group">
    				<li class="libtn">Created Date:25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Modified Date: 25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Format:JPEG </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Size:2000Kb</li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">User name:Laxmikant </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Delete</li>
  				</ul>
  			</div>
	    </div>
  </a>
  <a href="#" class="list-group-item">
  	<li href="#" class="button-css">
  		Image name
  	</li>
    	<div class="list-group-item-text block-cust">
			 <div class="btn-toolbar">
  				<ul class="btn-group">
    				<li class="libtn">Created Date:25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Modified Date: 25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Format:JPEG </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Size:2000Kb</li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">User name:Laxmikant </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Delete</li>
  				</ul>
  			</div>
	    </div>
  </a>
  <a href="#" class="list-group-item">
  	<li href="#" class="button-css">
  		Image name
  	</li>
    	<div class="list-group-item-text block-cust">
			 <div class="btn-toolbar">
  				<ul class="btn-group">
    				<li class="libtn">Created Date:25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Modified Date: 25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Format:JPEG </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Size:2000Kb</li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">User name:Laxmikant </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Delete</li>
  				</ul>
  			</div>
	    </div>
  </a>
  <a href="#" class="list-group-item">
  	<li href="#" class="button-css">
  		Image name
  	</li>
    	<div class="list-group-item-text block-cust">
			 <div class="btn-toolbar">
  				<ul class="btn-group">
    				<li class="libtn">Created Date:25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Modified Date: 25th Mar 2012 </li>
  				</ul>
  				<ul class="btn-group">
    				<li class="libtn">Format:JPEG </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Size:2000Kb</li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">User name:Laxmikant </li>
  				</ul>
  				<ul class="btn-group">
  					<li class="libtn">Delete</li>
  				</ul>
  			</div>
	    </div>
  </a>
</div>
{% endblock %}
