{% extends "base.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/menu"><i class="icon-dashboard"></i>Menu</a></li>
	<li class="active"><i class="icon-file-alt"></i> Content Manager</li>
</ol>
{% endblock %}
{% block content %}
<style>
.glyphicon {
  font-size: 11px;
}
</style>
<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th colspan="2">Title</th>
          <th colspan="2">Owner</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
      {% for  f in filelist %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td colspan="2">{{f.file.name}}</td>
          <td colspan="2">{{f.user.username}} - {{f.file.modified}}</td>
          <td>
          	<span class="badge" title="ReUpload">R</span>
          	<span class="badge" title="ReUpload"><span class="glyphicon glyphicon-info-sign"></span></span>
          	<span class="badge" title="Delete">X</span>
          </td>
        </tr>
	{% endfor %}
      </tbody>
    </table>
{% endblock %}