.item-block{
	list-style-type:none;
	border-radius: 35px 35px 35px 35px;
	cursor: pointer;
	line-height: 150px;
	position: relative;
	text-align: center;
	height: 160px;
	width: 170px;
	margin: 20px;	
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius:20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	border:2px solid #141400;
	background:rgba(213,216,227,0.5);
	-webkit-box-shadow: #B3B3B3 10px 10px 10px;
	-moz-box-shadow: #B3B3B3 10px 10px 10px;
	box-shadow: #B3B3B3 10px 10px 10px;
	display:inline-block;
}

.item-block:hover{
	-webkit-box-shadow: #3399FF 10px 10px 10px;
	-moz-box-shadow: #3399FF 10px 10px 10px;
	box-shadow: #3399FF 10px 10px 10px;
}